<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost\MSSQLSERVER2:1433;databaseName=ResultDeclaration</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="hibernate/entity/Marks.hbm.xml"/>
    <mapping resource="hibernate/entity/Student.hbm.xml"/>
    <mapping resource="hibernate/entity/Users.hbm.xml"/>
    <mapping resource="hibernate/entity/Semester.hbm.xml"/>
    <mapping resource="hibernate/entity/ReEvaluation.hbm.xml"/>
    <mapping resource="hibernate/entity/Subjects.hbm.xml"/>
    <mapping resource="hibernate/entity/Curriculum.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
